/* Tags */
header {
    background-color: #282828;
    width: 100%;
    padding: 10px;
}

h1, p{
    margin: 10px;
}
h4, h3 {
    margin-left: 10px;
}

input {
    background-color: #c9c9c9;
    border-color: black;
    border-radius: 10px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    display: grid;
}

input:focus {
    outline: none;
}

table {
    display: table;
    margin: 0 0 0 10px;
    table-layout: fixed;
    min-width: 1100px;
}

th {
    display: table-cell;
    border: white solid 1px;
    padding: 5px 10px 5px 10px;
    max-width: 0;
    min-width: 80px;
}


/* Classes */
.Home {
    margin: auto;
    width: 50%;
}

.button, button {
    background-color: #3c7ade;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    margin: 10px;
    padding: 10px;
}

.button:hover, button:hover {
    background-color: #3c6dde;
    transform: scale(105%);
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.table {
    display: table;
    margin: 0 0 0 10px;
    table-layout: fixed;
    min-width: 1100px;
}

.table-cell {
    display: table-cell;
    border: white solid 1px;
    padding: 5px 10px 5px 10px;
    max-width: 0;
    min-width: 80px;
}

.table-value {
    display: table-cell;
    border: white solid 1px;
    padding: 5px 10px 5px 10px;
    max-width: 0;
    min-width: 80px;
}

.table-input {
    width: 100px;
}

.table-btn {
    background-color: #3c7ade;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    margin: 10px;
}

.table-btn:hover{
    background-color: #3c6dde;
    transform: scale(105%);
}